.button {
  padding: 15px 30px;
  font-size: 1rem;
  border: 0;
  font-family: var(--body-headline-family);
  &.button-primary {
    background-color: $button-primary-bg-color;
    color: #fff;
  }
  &.button-secondary {
    background-color: #000;
    color: #fff;
  }
}

.scroll-top-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 10;
  width: 50px;
  height: 50px;
  color: #fff;
  background-color: #000;
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: .6em;
  line-height: .7em;
  border-radius: 5px;
  cursor: pointer;
}

