.container {
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
  @media screen and (min-width: 769px) {
    width: 750px;
  }
  @media screen and (min-width: 993px) {
    width: 990px;
  }

  @media screen and (min-width: 1366px) {
    width: 1322px;
  }

  @media screen and (min-width: 1500px) {
    width: 1422px;
  }
}
.default-section {
  padding: 100px 0;
}
.list-unstyled {
  padding: 0 !important;
  li {
    list-style: none;
  }
}
.d-flex {
  display: flex !important;
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}

.dropdown-list {
  position: relative;
  .current {
    font-size: 15px;
    text-transform: uppercase;
    color: var(--body-color);
    padding-right: 5px;
    font-weight: 900;
  }
  .dropdown-list-items {
    display: none;
    position: absolute;
  }
}

/* Texts utilities */
.text-center {
  text-align: center !important;
}