:root {
  --body-font-family: calibri, sans-serif;
  --body-headline-family: dejanire-headline, serif;
  --font-monospace: monospace;
  --body-font-size: 1em;
  --body-font-weight: 400;
  --body-line-height: 1em;
  --body-color: #2F2F2F;
  --body-text-align: left;
  --body-bg: white;
}

$button-primary-bg-color: #B163A4;
